{% extends 'base.html' %}
{% block content %}

<div class='clearfix'>
<form action='/test' method="POST" enctype='multipart/form-data'>{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
  {% if formset.errors %}
    {% for error in formset.errors %}
      {{ errors|escape }}
    {% endfor %}
  {% endif %}
  <div class='card'>
    <label for='{{ form.type.id_for_label }}'>Type:</label>
    {{ form.type }}

    <label for='{{ form.language.id_for_label }}'>Language:</label>
    {{ form.language }}

    <label for='{{ form.marketing.id_for_label }}'>Hero Image:</label>
    {{ form.hero }}

    <label for='{{ form.marketing.id_for_label }}'>Thumbnail Image:</label>
    {{ form.thumb }}

    <label for='{{ form.marketing.id_for_label }}'>Template:</label>
    {{ form.template }}

    <label for='{{ form.marketing.id_for_label }}'>HTML Name:</label>
    {{ form.html }}

    <label for='{{ form.marketing.id_for_label }}'>Description:</label>
    {{ form.desc }}
  </div>
{% endfor %}
<input type='hidden' value='false' name='additems' id='additems'>
<button class='btn btn-primary' id='additemsbutton'>Add Items</button>
<input type='hidden' value='false' name='removeitems' id='removeitems'>
<button class='btn btn-primary' id='removeitemsbutton'>Remove Items</button>
<input type='submit' value='Submit Order' class='btn btn-primary'>
</form>
</div>
<script>
  // $(document).ready(function() {
  //   $("#additemsbutton").on('click',function(event) {
  //     $("#additems").val("true");
  //   });
  //
  //   $("#removeitemsbutton").on('click', function(event) {
  //     $("#removeitems").val("true");
  //   });
  // });
  window.onload = function(event) {
    var addForm = document.getElementById('additemsbutton');
    var addVal = document.getElementById('additems');

    var removeForm = document.getElementById('removeitemsbutton');
    var removeVal = document.getElementById('removeitems');

    addForm.addEventListener('click', function() {
      addVal.value = true;
    });

    removeForm.addEventListener('click', function() {
      removeVal.value = true;
    });
  }
</script>
{% endblock %}
